<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drive</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="impromptu">
    <!-- <div class="impromptu-img">
      <img src="https://github.com/Suyash-16/sudoko-PE-2/blob/main/Static/Static%20Images/Impromptu_Concept.png?raw=true" alt="" class="impimg">
    </div> -->
    <div class="form">
      <img class="logo-img" src="https://github.com/Suyash-16/sudoko-PE-2/blob/main/Static/Static%20Images/Impromptu_Logo.png?raw=true" alt="">
      <p class="p1 font-inherit primary-font">Sign up to see photos and videos </p>
      <p class="p2  font-inherit primary-font ">from your friends.</p>
      <button class="gmail  font-inherit primary-font ">
          <div class="loginbtn">
          <ion-icon class="googlelogo" name="logo-google"></ion-icon>
          <p class="logintext  font-inherit primary-font">
            Login With <b>Google</b> 
          </p>
        </div>
        </button>
        <p class="or ">━━━━━━━OR━━━━━━━</p>
        <div class="input">
          <form action="" method="get" class="form1">
            <input type="text" id="Mobileemail" placeholder=" Mobile Number or Email" class="mobemail">
            <input type="text" id="full-name" placeholder=" Full Name" class="mobemail">
            <input type="text" id="username" placeholder=" Username" class="mobemail">
            <input type="text" id="password" placeholder=" Password" class="mobemail">             
          </form>
        </div>
        <div class="txt">
          <p class="hyperlink">
            By signing up, you agree to our <a class="href" href="">Terms</a>  , 
            <a class="href" href="">Privacy</a> 
          </p>
            <p class="hyperlink font-inherit primary-font">

             <a class="href  font-inherit primary-font"  href="">Policy </a>  and <a class="href  font-inherit primary-font"  href="">Cookies Policy</a> .
            </p>
        </div>
        <button class="signup font-inherit primary-font">
         <b> Sign Up</b>
        </button>
    </div>
  </div>
 <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
 <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
